{% extends "layout.html" %}
{% block title %}Add Item{% endblock %}
{% block header %}Add Item{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="enter the name" />
        </div>
        <div class="form-group">
            <label for="description">Name</label>
            <textarea class="form-control" name="description" id="description" placeholder="enter the description" rows="3"></textarea>        
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn btn-default" href= "{{url_for('showItems', category_id=category_id)}}">Cancel</a>
        </div>
    </form>
{% endblock %}